[submodule "deps/localsafe.eth"]
	path = deps/localsafe.eth
	url = git@github.com:Cyfrin/localsafe.eth.git
[submodule "deps/alloy"]
	path = deps/alloy
	url = git@github.com:alloy-rs/alloy.git
[submodule "deps/safers-cli"]
	path = deps/safers-cli
	url = git@github.com:dfb-chain/safers-cli.git
[submodule "deps/safe-hash-rs"]
	path = deps/safe-hash-rs
	url = git@github.com:pripatelUK/safe-hash-rs.git
[submodule "deps/dappwright"]
	path = deps/dappwright
	url = git@github.com:TenKeyLabs/dappwright.git
